<div class="login-page">
  <div class="login-wrapper">
    <h2 class="text-primary">Sign In</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />
      </div>

      <div class="form-group password-group">
        <label for="password">Password</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
        />
        <span class="eye-icon" (click)="togglePasswordVisibility()">
          <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
        </span>
      </div>

      <button class="btn" [disabled]="loginForm.invalid">Login</button>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
